@import './variables.css';

/* fonts */
@font-face {
  font-family: 'Pretendard-file';
  src: url('./fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-file';
  src: url('./fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--gray-0);
  font-family: "Pretendard", "Pretendard-file", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* common button */
.base-btn {
  background-color: var(--primary-100);
  color: var(--gray-0);
  text-align: center;
  border: none;
  cursor: pointer; 
}

.base-btn:hover,
.base-btn:focus {
  background-color: var(--primary-200);
}

.base-btn:active {
  background-color: var(--primary-300);
}

/* logo */
.logo-a-area {
  display: flex;
  align-items: center;
}